@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: Inter, sans-serif;
}

canvas, script {
  display: block;
}

script {
  position: relative !important;
}

.container {
  padding: 5%
}

.project-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px;
}

.footer {
  background: #202020;
  padding: 10%;
}
.footer > h1 {
  font-size: 30px;
}
.footer > p {
  font-size: 20px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #303030;
}