@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Syne:wght@400;700;800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  font-family: Syne, sans-serif;
}

canvas, script {
  display: block;
}

script {
  display: block !important;
}

.hero > h1 {
  font-size: 96px;
  font-weight: 800;
  margin: auto;
  text-align: center;

  transition: 0.1s;
}
#ht1:hover {
  color: #ff3a72;
  transition: 0.1s;
}
#ht2:hover {
  color: #ff3a72;
  transition: 0.1s;
}
#ht3:hover {
  color: #ff3a72;
  transition: 0.1s;
}
.hero > p {
  font-size: 30px;
  transition: 0.5s;
  margin: auto;
  text-align: center;
}


@keyframes wobble {
  from {
    rotate: 5deg;
  }
  to {
    rotate: -5deg;
  }
}

.hero > h1:hover {
  margin-bottom: 1px;

  animation: 'wobble', infinite, ease-in-out;

  transition: 0.5s;
}

.container {
  padding: 5%
}

.project-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px;
}
.project-container > h1 {
  color: #0d0d0d !important;
}

.footer {
  background: #202020;
  padding: 7%;
}
.footer > h1 {
  font-size: 30px;
}
.footer > p {
  font-size: 20px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #303030;
}